/* SVGLoader.css */

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2000;
  }

  90% {
    stroke-dashoffset: 0;
  }
}

.path2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash2 5s linear infinite;
}

@keyframes dash2 {
  60% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.dot-ellipsis::after {
  content: "";
  display: inline-block;
  width: 1em;
  text-align: left;
  animation: dots 1.8s steps(4, end) infinite;
}

@keyframes dots {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }
}